.leftbar {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: var(--bg);
    color: var(--textColor);
    &::-webkit-scrollbar {
      display: none;
    }
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  
    .container {
      padding: 20px;
  
      .hr {
        margin: 20px 0;
        border: none;
        height: 0.5px;
        background-color: var(--border);
      }
  
      
  
      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .span {
          font-size: 12px;
          color: var(--textColor);
        }
  
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
  
          img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
          }
  
          span {
              color: var(--textColor)
          }
      }
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
  
          .img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .span {
            font-size: 14px;
          }
        }
      }
    }
  }
  